.button{
    background-color: #4CAF50;
    border: gray 2px solid;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

:root{
    background: lightblue;
}


.button:hover{
    background-color: #127023;
}

.submit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.red{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.textInput{
    /*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

p{

}